// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.content {
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
}

footer {
    background: #fff;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}

.m-b-md {
    margin-bottom: 30px;
}
